node_modules
.env

#Nile files
goerli.deployments.txt
accounts.json
node.json

#Python artifacts
__pycache__/
.pytest_cache
.venv
.python-version

# Unused folders
front_end
governance/old

# New tests
tests/test_shared_wallet_new.py