node_modules
.env

#Nile files
goerli.deployments.txt
accounts.json
node.json
artifacts/
artifacts
./artifacts

#Python artifacts
__pycache__/
.pytest_cache
.venv
.python-version

# Unused folders + files
front_end
test_account_abstraction.py.txt
contracts/account_abstraction

# New tests
tests/test_shared_wallet_new.py